# Task 1
Your first step is to import the connector module, enter your user details and connect with the database.

<b>NOTE TO REVIEWER</b>
Please update user and password to your local MySQL credentials

In [27]:
import mysql.connector as connector
connection = connector.connect(user = "dbcapstone", password = "12345Dbcapstone!", db = "littlelemondb")
cursor = connection.cursor()

# Task 2
In this second task, you now need to query the database to show all tables within the database.

In [28]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)
for data in cursor.fetchall():
    print(data)

('bookings',)
('cuisine',)
('customers',)
('menu',)
('menuitems',)
('orderdeliverystatus',)
('orders',)
('staff',)

# Task 3
<b>Query with table JOIN<b>

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

In [29]:
query = """SELECT
CONCAT(customers.FirstName, " ", customers.LastName) AS FullName,
customers.Email,
customers.ContactNumber,
orders.TotalCost
FROM customers
INNER JOIN orders ON orders.CustomerID = customers.CustomerID
WHERE orders.TotalCost > 60
ORDER BY orders.TotalCost DESC;
"""

cursor.execute(query)
columns = cursor.column_names
print(columns)
for data in cursor.fetchall():
    print(data)

('FullName', 'Email', 'ContactNumber', 'TotalCost')
('Customer 1', 'customer1@gmail.com', '9190000001', Decimal('299.85'))
('Customer 3', 'customer3@gmail.com', '9190000003', Decimal('199.90'))
('Customer 2', 'customer2@gmail.com', '9190000002', Decimal('199.90'))